<!doctype html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write(
  '<script src="{{url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>'
)</script>
<script src="{{url_for('static', filename='frontier.js') }}"></script>
<title>{% block title %}{% endblock %} - Frontier</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if navbar %}
<nav>
  <h1>Navbar</h1>
  <ul>
    {% if user %}
      <li><span>{{ user['email'] }}</span>
      <li><a href="{{ url_for('home') }}">Home</a>
      <li><a href="{{ url_for('security.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('security.register') }}">Register</a>
      <li><a href="{{ url_for('security.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% endif %}
<section class="content">
  {% block content %}{% endblock %}
</section>
