{% extends 'base.html' %}
{% block title %}
New Character
{% endblock %}
{% block content %}
<h1>Character Creation</h1>
<p>Create a character to join {{game.name}}</p>
<form action="{{ url_for('create_character', game_id=game.id) }}" method="post">
  <div>{{ form.first_name.label }} : {{ form.first_name }}</div>
  {% if form.first_name.errors %}
      <ul class="errors">{% for error in form.first_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.last_name.label }} : {{ form.last_name }}</div>
  {% if form.last_name.errors %}
      <ul class="errors">{% for error in form.last_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.strength.label }} : {{ form.strength }}</div>
  {% if form.strength.errors %}
      <ul class="errors">{% for error in form.strength.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.dexterity.label }} : {{ form.dexterity }}</div>
  {% if form.dexterity.errors %}
      <ul class="errors">{% for error in form.dexterity.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.constitution.label }} : {{ form.constitution }}</div>
  {% if form.constitution.errors %}
      <ul class="errors">{% for error in form.constitution.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.wisdom.label }} : {{ form.wisdom }}</div>
  {% if form.wisdom.errors %}
      <ul class="errors">{% for error in form.wisdom.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.intelligence.label }} : {{ form.intelligence }}</div>
  {% if form.intelligence.errors %}
      <ul class="errors">{% for error in form.intelligence.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div>{{ form.charisma.label }} : {{ form.charisma }}</div>
  {% if form.charisma.errors %}
      <ul class="errors">{% for error in form.charisma.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  {{ form.csrf_token }}
  {{ form.submit }}
</form>
{% endblock %}
