{% extends 'base.html' %}
{% block title %}
Game {{ game.id }}
{% endblock %}
{% block content %}
<h1>{{ game.name }}</h1>
<h4>Created At: {{ game.created_at }}</h4>
<br>
<h2>User List</h2>
{% for user in game.users %}
  <h4> {{user.email}} </h4>
{% endfor %}
<br>
<h2>Game will be ready when its ready...</h2>
<br>
<section id='board'>
  <table class='gameboard'>
  {% for x in range(game.length) %}
    <tr>
    {% for y in range(game.height) %}
      {% if display[y][x] == 'M' %}
        <td><a onclick='move({{x}},{{y}},{{game.id}})'>{{ display[y][x] }}</a></td>
      {% else %}
        <td>{{ display[y][x] }}</td>
      {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
</section>
<script>run({{game.id}})</script>
{% endblock %}
