<!doctype html>
<title>Game {{ game.id }}</title>
<h1>{{ game.name }}</h1>
<h4>Created At: {{ game.created_at }}</h4>
<br>
<h2>User List</h2>
{% for user in game.users %}
  <h4> {{user.email}} </h4>
{% endfor %}
<br>
<h2>Game will be ready when its ready</h2>
<br>
<table>
{% for x in range(game.length) %}
  <tr>
  {% for y in range(game.height) %}
    <td>{{ display[x][y] }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<li><a href="/">Main Page <span class="sr-only">(current)</span></a></li>
<li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
